In [25]:
import numpy as np
import matplotlib.pyplot as plt
from astropy.table import Table
from astropy.io import fits
from scipy.optimize import curve_fit
from clevar.match import output_matched_catalog
from clevar.catalog import ClCatalog

In [26]:
iinpath = "/sps/lsst/groups/clusters/amico_validation_project/catalogs/matching_cats/amico_cosmoDC2/mag_i/"
yinpath = "/sps/lsst/groups/clusters/amico_validation_project/catalogs/matching_cats/amico_cosmoDC2/mag_y/"

In [27]:
p1 = Table.read(iinpath + 'match_info_p.fits')
p2 = Table.read(yinpath + 'match_info_p.fits')

In [42]:
per1 = (p1['cross']/p1['total']*100).astype(int)
per2 = (p2['cross']/p2['total']*100).astype(int)
nm1 = p1['total']-p1['cross']
nm2 = p2['total']-p2['cross']

In [39]:
per11

<Column name='cross' dtype='int64' length=2>
91
17

In [47]:
frac1 = Table({'cat_name' : ['p-AMICO_i', 'cosmoDC2'], 'total' : [p1['total'][0], p1['total'][1]],
        'cross_matched' : [str(p1['cross'][0]) + '(' + str(per1[0]) + '%)', str(p1['cross'][1]) + '(' + str(per1[1]) + '%)'],
        'not_matched' : [str(nm1[0]) + '(' + str(int(nm1[0]/p1['total'][0]*100)) +'%)' , str(nm1[1]) + '(' + str(int(nm1[1]/p1['total'][1]*100)) +'%)']})
frac2 = Table({'cat_name' : ['p-AMICO_y', 'cosmoDC2'], 'total' : [p2['total'][0], p2['total'][1]],
        'cross_matched' : [str(p2['cross'][0]) + '(' + str(per2[0]) + '%)', str(p2['cross'][1]) + '(' + str(per2[1]) + '%)'],
        'not_matched' : [str(nm2[0]) + '(' + str(int(nm2[0]/p2['total'][0]*100)) +'%)' , str(nm2[1]) + '(' + str(int(nm2[1]/p2['total'][1]*100)) +'%)']})
display(frac1, frac2)

<Table length=2>
 cat_name total  cross_matched not_matched
   str9   int64      str11        str11
--------- ------ ------------- -----------
p-AMICO_i 135916   124373(91%)   11543(8%)
 cosmoDC2 697593   124373(17%) 573220(82%)

<Table length=2>
 cat_name total  cross_matched not_matched
   str9   int64      str11        str11
--------- ------ ------------- -----------
p-AMICO_y 165149   148709(90%)   16440(9%)
 cosmoDC2 697593   148709(21%) 548884(78%)

In [31]:
m1 = Table.read(iinpath + '0.0/match_info_mb.fits')
m1a = Table.read(iinpath + '0.05/match_info_mb.fits')
m1b = Table.read(iinpath + '0.1/match_info_mb.fits')
m1c = Table.read(iinpath + '0.2/match_info_mb.fits')
m2 = Table.read(yinpath + '0.0/match_info_mb.fits')

In [48]:
per1 = (m1['cross']/m1['total']*100).astype(int)
per1a = (m1a['cross']/m1a['total']*100).astype(int)
per1b = (m1b['cross']/m1b['total']*100).astype(int)
per1c = (m1c['cross']/m1c['total']*100).astype(int)
per2 = (m2['cross']/m2['total']*100).astype(int)
nm1 = m1['total']-m1['cross']
nm1a = m1a['total']-m1a['cross']
nm1b = m1b['total']-m1b['cross']
nm1c = m1c['total']-m1c['cross']
nm2 = m2['total']-m2['cross']

In [52]:
frac1 = Table({'cat_name' : ['mb-AMICO_i', 'cosmoDC2'], 'total' : [m1['total'][0], m1['total'][1]],
        'cross_matched' : [str(m1['cross'][0]) + '(' + str(per1[0]) + '%)', str(m1['cross'][1]) + '(' + str(per1[1]) + '%)'],
        'not_matched' : [str(nm1[0]) + '(' + str(int(nm1[0]/m1['total'][0]*100)) +'%)' , str(nm1[1]) + '(' + str(int(nm1[1]/m1['total'][1]*100)) +'%)']})
frac1a = Table({'cat_name' : ['mb-AMICO_i', 'cosmoDC2'], 'total' : [m1a['total'][0], m1a['total'][1]],
        'cross_matched' : [str(m1a['cross'][0]) + '(' + str(per1a[0]) + '%)', str(m1a['cross'][1]) + '(' + str(per1a[1]) + '%)'],
        'not_matched' : [str(nm1a[0]) + '(' + str(int(nm1a[0]/m1a['total'][0]*100)) +'%)' , str(nm1a[1]) + '(' + str(int(nm1a[1]/m1a['total'][1]*100)) +'%)']})
frac1b = Table({'cat_name' : ['mb-AMICO_i', 'cosmoDC2'], 'total' : [m1b['total'][0], m1b['total'][1]],
        'cross_matched' : [str(m1b['cross'][0]) + '(' + str(per1b[0]) + '%)', str(m1b['cross'][1]) + '(' + str(per1b[1]) + '%)'],
        'not_matched' : [str(nm1b[0]) + '(' + str(int(nm1b[0]/m1b['total'][0]*100)) +'%)' , str(nm1b[1]) + '(' + str(int(nm1b[1]/m1b['total'][1]*100)) +'%)']})
frac1c = Table({'cat_name' : ['mb-AMICO_i', 'cosmoDC2'], 'total' : [m1c['total'][0], m1c['total'][1]],
        'cross_matched' : [str(m1c['cross'][0]) + '(' + str(per1c[0]) + '%)', str(m1c['cross'][1]) + '(' + str(per1c[1]) + '%)'],
        'not_matched' : [str(nm1c[0]) + '(' + str(int(nm1c[0]/m1c['total'][0]*100)) +'%)' , str(nm1c[1]) + '(' + str(int(nm1c[1]/m1c['total'][1]*100)) +'%)']})
frac2 = Table({'cat_name' : ['mb-AMICO_y', 'cosmoDC2'], 'total' : [m2['total'][0], m2['total'][1]],
        'cross_matched' : [str(m2['cross'][0]) + '(' + str(per2[0]) + '%)', str(m2['cross'][1]) + '(' + str(per2[1]) + '%)'],
        'not_matched' : [str(nm2[0]) + '(' + str(int(nm2[0]/m2['total'][0]*100)) +'%)' , str(nm2[1]) + '(' + str(int(nm2[1]/m2['total'][1]*100)) +'%)']})
display(frac1,frac1a,frac1b,frac1c, frac2)

<Table length=2>
 cat_name  total  cross_matched not_matched
  str10    int64      str11        str11
---------- ------ ------------- -----------
mb-AMICO_i 135916   128598(94%)    7318(5%)
  cosmoDC2 697593   128598(18%) 568995(81%)

<Table length=2>
 cat_name  total  cross_matched not_matched
  str10    int64      str10        str11
---------- ------ ------------- -----------
mb-AMICO_i 135916    88679(65%)  47237(34%)
  cosmoDC2 697593    88679(12%) 608914(87%)

<Table length=2>
 cat_name  total  cross_matched not_matched
  str10    int64      str10        str11
---------- ------ ------------- -----------
mb-AMICO_i 135916    67877(49%)  68039(50%)
  cosmoDC2 697593     67877(9%) 629716(90%)

<Table length=2>
 cat_name  total  cross_matched not_matched
  str10    int64      str10        str11
---------- ------ ------------- -----------
mb-AMICO_i 135916    23161(17%) 112755(82%)
  cosmoDC2 697593     23161(3%) 674432(96%)

<Table length=2>
 cat_name  total  cross_matched not_matched
  str10    int64      str11        str11
---------- ------ ------------- -----------
mb-AMICO_y 165149   158962(96%)    6187(3%)
  cosmoDC2 697593   158962(22%) 538631(77%)

In [29]:
display(p1, p2)

<Table length=2>
  id   total  unique (self) ... multiple (self) multiple (other) cross
bytes2 int64      int64     ...      int64           int64       int64
------ ------ ------------- ... --------------- ---------------- ------
    c1 135916        124477 ...          127182           127182 124373
    c2 697593        124480 ...          250836           250836 124373

<Table length=2>
  id   total  unique (self) ... multiple (self) multiple (other) cross
bytes2 int64      int64     ...      int64           int64       int64
------ ------ ------------- ... --------------- ---------------- ------
    c1 165149        148864 ...          152921           152921 148709
    c2 697593        148867 ...          290969           290969 148709

In [32]:
display(m1, m1a, m1b,m1c,m2)

<Table length=2>
  id   total  unique (self) ... multiple (self) multiple (other) cross
bytes2 int64      int64     ...      int64           int64       int64
------ ------ ------------- ... --------------- ---------------- ------
    c1 135916        128745 ...          133650           133650 128598
    c2 697593        129858 ...          272009           272009 128598

<Table length=2>
  id   total  unique (self) ... multiple (self) multiple (other) cross
bytes2 int64      int64     ...      int64           int64       int64
------ ------ ------------- ... --------------- ---------------- -----
    c1 135916         88967 ...          111863           126459 88679
    c2 697593        124730 ...          206251           192715 88679

<Table length=2>
  id   total  unique (self) ... multiple (self) multiple (other) cross
bytes2 int64      int64     ...      int64           int64       int64
------ ------ ------------- ... --------------- ---------------- -----
    c1 135916         68153 ...           99623           111769 67877
    c2 697593        108935 ...          143218           148090 67877

<Table length=2>
  id   total  unique (self) ... multiple (self) multiple (other) cross
bytes2 int64      int64     ...      int64           int64       int64
------ ------ ------------- ... --------------- ---------------- -----
    c1 135916         23283 ...           82786            63764 23161
    c2 697593         58045 ...           62986           100492 23161

<Table length=2>
  id   total  unique (self) ... multiple (self) multiple (other) cross
bytes2 int64      int64     ...      int64           int64       int64
------ ------ ------------- ... --------------- ---------------- ------
    c1 165149        159261 ...          164192           164192 158962
    c2 697593        161211 ...          350976           350976 158962