In [2]:
import matplotlib.pyplot as plt
import numpy as np
from astropy.table import Table, hstack, vstack
from clevar.catalog import ClCatalog
from numpy.ma import masked
import sys
from clevar.match import output_matched_catalog

In [3]:
#rm_cdc = '/sps/lsst/groups/clusters/amico_validation_project/catalogs/matching_cats/redmapper_cosmoDC2/'
#am_cdc = '/sps/lsst/groups/clusters/amico_validation_project/catalogs/matching_cats/amico_cosmoDC2/'
am_rm = '/sps/lsst/groups/clusters/amico_validation_project/catalogs/matching_cats/amico_redmapper/'
#rm_cdc_info = Table.read(rm_cdc + 'match_info_p.fits')
#am_cdc_info = Table.read(am_cdc + 'match_info_p.fits')
am_rm_info = Table.read(am_rm  + 'match_info_p.fits')

In [4]:
#display(am_cdc_info)
display(am_rm_info)
#display(rm_cdc_info)

<Table length=2>
  id   total  unique (self) ... multiple (self) multiple (other) cross
bytes2 int64      int64     ...      int64           int64       int64
------ ------ ------------- ... --------------- ---------------- ------
    c1 135916        124477 ...          127182           127182 124369
    c2 697593        124483 ...          250836           250836 124369

<Table length=2>
  id   total  unique (self) ... multiple (self) multiple (other) cross
bytes2 int64      int64     ...      int64           int64       int64
------ ------ ------------- ... --------------- ---------------- -----
    c1 135916         38944 ...           49095            49095 38915
    c2  45081         38944 ...           39718            39718 38915

<Table length=2>
  id   total  unique (self) ... multiple (self) multiple (other) cross
bytes2 int64      int64     ...      int64           int64       int64
------ ------ ------------- ... --------------- ---------------- -----
    c1  45081         44480 ...           44558            44558 44480
    c2 697593         44480 ...          108801           108801 44480